extends ../../layout/base

block append head 
    link(rel="stylesheet", href="/CSS/userStyle.css")
    link(rel="stylesheet", href="/CSS/lightslider.css")

block append script 
    script(src="/JS/bundle/user/bundleUser.js")    
    script.
        const invidual = document.getElementById("invidual");
        const company = document.getElementById("company");
        const Active = document.getElementById("Active-things");
        const Completed = document.getElementById("HomeCare-Books");
        function Invidual() {
        invidual.className = "tab-text-active";
        company.className = "tab-text";
        Active.className = " mt-5 container display-block";
        Completed.className = "display-n";
        }
        function Company() {
        invidual.className = "tab-text";
        company.className = "tab-text-active";
        Active.className = "display-n";
        Completed.className = " mt-5 container display-block";
        } 

block block 
    // Hero section Start
    section
        img.hero-image(src='/Assets/images/De-Addication.jpg' alt='homecare service banner')
        .hero-image-overlay
            .hero-image-text
                h1 My De-Addication Bookings
    // Hero section End
    // Catercory button Section Start
    section.mt-3
        .d-flex.justify-content-center
            div
                h6#invidual.tab-text-active(onclick='Invidual()')
                    | Active List
            div
                h6#company.tab-text(onclick='Company()')
                    | Completed History
    // Catercory button Section Start
    // Card Section Start
    section#Active-things.mt-5.container.display-block
        .justify-content-center
            h5.heading My De-Addication booking Active list
            .underline
            p.text-center.w-75.m-auto.mt-4
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
                | laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                | Fugit laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.
        .mt-4
            .row.row-cols-2.row-cols-md-2.g-4
                each doc in docs[0].active
                    .col
                        .small-shdow.card.rounded.mt-3
                            .row
                                .col-5
                                    img.img-thumbnail.border-0.h-100(src=doc.partners.bannerImage alt='Shop Name')
                                .col-7.p-2
                                    .d-flex.bd-highlight
                                        .flex-grow-1.bd-highlight
                                            h6.main-color.fw-bold.text-uppercase
                                                | #{doc.partners.name}
                                    p.main-color.fw-bold.m-0 User Name
                                    p.text-12.m-0= doc.name
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Requested Date:
                                                span.ms-2.text-secondary  12-10-2022 
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Service Name:
                                                span.ms-2.text-secondary  Addication Name 
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Problem:
                                                span.ms-2.text-secondary  
                                                | #{doc.problem}
                                        div
                                            h5.main-color.fw-bold.m-0.me-2
                                                | Rs.#{doc.deaddictionCenterDetails.priceFrom} - Rs.#{doc.deaddictionCenterDetails.priceTo}
                                        div.d-flex
                                            .me-1.mt-3
                                                a.btn.btn-danger.cancel_deaddicton.cursor-pointer(data-id=doc.hiwbdacns) Cancel
   
    section#HomeCare-Books.mt-5.container.display-n
        .justify-content-center
            h5.heading My De-Addication booking list
            .underline
            p.text-center.w-75.m-auto.mt-4
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
                | laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                | Fugit laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.
        .mt-4
            .row.row-cols-2.row-cols-md-2.g-4
                each doc in docs[0].history
                    .col
                        .small-shdow.card.rounded.mt-3
                            .row
                                .col-5
                                    img.img-thumbnail.border-0.h-100(src=doc.partners.bannerImage alt='Shop Name')
                                .col-7.p-2
                                    .d-flex.bd-highlight
                                        .flex-grow-1.bd-highlight
                                            h6.main-color.fw-bold.text-uppercase
                                                | #{doc.partners.name}
                                    p.main-color.fw-bold.m-0 User Name
                                    p.text-12.m-0= doc.name
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Requested Date:
                                                span.ms-2.text-secondary  12-10-2022 
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Service Name:
                                                span.ms-2.text-secondary  Addication Name 
                                    .d-flex.justify-content-between
                                        div
                                            p.main-color.fw-bold.text-12.m-0
                                                | Problem:
                                                span.ms-2.text-secondary  
                                                | #{doc.problem}
                                        div
                                            h5.main-color.fw-bold.m-0.me-2
                                                | Rs.#{doc.deaddictionCenterDetails.priceFrom} - Rs.#{doc.deaddictionCenterDetails.priceTo}