extends ../../../layout/base

block append head 
    link(rel="stylesheet", href="/CSS/userStyle.css")
    link(rel="stylesheet", href="/CSS/lightslider.css")

block append script 
    //- script(src="/JS/bundle/user/bundleUser.js")    

block block 
    // Hero section Start
    section
        img.hero-image(src='/Assets/images/Hearing Aid.jpg' alt='homecare service banner')
        .hero-image-overlay
            .hero-image-text
                h1 Hearing Aid Account Page
    // Hero section End
    // Card Section Start
    section.mt-5.container
        .justify-content-center
            h5.heading Hearing Aid Order History
            .underline
            p.text-center.w-75.m-auto.mt-4
                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit
                | laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                | Fugit laudantium aperiam quo debitis ad nesciunt eos libero totam odit
                | impedit.
        .d-flex.flex-row-reverse.bd-highlight.m-0
            .bd-highlight.m-0
                //- a(href='./userHearingAidMyOrders.html') View All
        .mt-4
            .row.row-cols-2.row-cols-md-5.g-4
                each doc in orders
                    .col
                        a(href=`/my-account/differently-abled/order/${doc.hiwdaposID}`)
                            .card.h-100
                                img.card-img-top.cart-image-product(src=doc.productData.bannerImage alt='...')
                                .card-body
                                    h6.text-center.main-color.text-uppercase
                                        | #{doc.productData.productName}
                                    if doc.productData.discountPrice
                                        p.text-center.text-secondary.fw-bold
                                            | Rs.#{doc.productData.discountPrice} 
                                            span.text-success.text-decoration-line-through Rs.#{doc.productData.price}
                                    else
                                        p.text-center.text-secondary.fw-bold
                                            | Rs.#{doc.productData.price}