extends ../../layout/adminBase

block append script 
    script(src="/JS/bundle/admin/bundleAdmin.js")   

block block
    #right.col-9
        .d-flex.bd-highlight.mt-3
            .p-2.flex-grow-1.bd-highlight
                h6.fs-5.text-body.fw-bold.text-uppercase Overview
            .p-2.bd-highlight
                i.fa-solid.fa-bell.fs-5.text-body
            .p-2.bd-highlight
                h6.fs-5.text-body.fw-bold |
            .p-2.bd-highlight
                h6.fs-5.text-body.fw-bold= user.name
            .p-2.bd-highlight
                img.login-user-image(src=user.profileImage alt='user image')
        hr
        .p-3
            .p-5.pt-2.nav-tabs-section
                #pills-tabContent.tab-content

                    #pills-profile.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-profile-tab')
                        h6.col-6.fw-bold.main-color.mt-5.text-head
                            | Active Orders
                      
                        hr.m-0
                        .mt-3.table-responsive
                            table.table.table-bordered
                                thead
                                    tr.text-nowrap
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Number of Medicines
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Orderd Time
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Status
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | View
                                tbody#update_user_diffable_product_status(data-id=user.id)
                                    each doc,inds in quotes.active
                                        tr.text-nowrap
                                            th(scope='row')= doc.medicines.length
                                            td= new Date(doc.date).toLocaleString()
                                            td= doc.status
                                            td
                                                a.text-primary.cursor-pointer(data-bs-toggle='modal' data-bs-target=`#activeHearingaidBooking-${index}`) View

                                                .modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true' id=`activeHearingaidBooking-${index}`)
                                                    .modal-dialog.modal-dialog-scrollable.modal-lg
                                                        .modal-content
                                                            .modal-header
                                                                h5#staticBackdropLabel.modal-title
                                                                    | Booking Details
                                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                            .modal-body.table-responsive
                                                                table.table.table-bordered
                                                                    thead
                                                                        tr
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                | Booking Details
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                //- | Booking ID - 09869766875
                                                                    tbody
                                                                        tr
                                                                            th(scope='row')  Number of Medicines
                                                                            td= doc.medicines.length
                                                                        tr
                                                                            th(scope='row') Requested Date
                                                                            td= new Date(doc.date).toLocaleString()
                                                                        tr
                                                                            th(scope='row') Status
                                                                            td= doc.status
                                                                        if doc.address
                                                                            tr
                                                                                th(scope='row') Requested Address#{JSON.stringify(doc.address.address)}
                                                                                td  
                                                                                    each val,key in doc.address
                                                                                        div 
                                                                                            p 
                                                                                                b.fw-fold #{key} : 
                                                                                                span= val
                                                                        tr
                                                                            th(scope='row') Medicine Details
                                                                            td
                                                                                each med in doc.medicines
                                                                                    div 
                                                                                        p 
                                                                                            b.fw-fold Medicine Name : 
                                                                                            span= med.name
                                                                                        p 
                                                                                            b.fw-fold Description : 
                                                                                            span= med.description
                                                                                        p 
                                                                                            b.fw-fold Price : 
                                                                                            span= med.price
                                                                                        p 
                                                                                            b.fw-fold Categorie : 
                                                                                            span= med.categorie
                                                                                        img(src=med.bannerImage,style='width:200px;', alt="", srcset="")
                                                            .modal-footer
                                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                                                    | Cancel
                        h6.col-6.fw-bold.main-color.mt-5.text-head
                            | Order History

                        .mt-3.table-responsive
                            table.table.table-bordered
                                thead
                                    tr.text-nowrap
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Number of Medicines
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Orderd Time
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | Status
                                        th.color-white.main-color-background.text-center(scope='col')
                                            | View
                                tbody#update_user_diffable_product_status(data-id=user.id)
                                    each doc,inds in quotes.history
                                        tr.text-nowrap
                                            th(scope='row')= doc.medicines.length
                                            td= new Date(doc.date).toLocaleString()
                                            td= doc.status
                                            td
                                                a.text-primary.cursor-pointer(data-bs-toggle='modal' data-bs-target=`#activeHearingaidBooking-${index}`) View

                                                .modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='staticBackdropLabel' aria-hidden='true' id=`activeHearingaidBooking-${index}`)
                                                    .modal-dialog.modal-dialog-scrollable.modal-lg
                                                        .modal-content
                                                            .modal-header
                                                                h5#staticBackdropLabel.modal-title
                                                                    | Booking Details
                                                                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                                                            .modal-body.table-responsive
                                                                table.table.table-bordered
                                                                    thead
                                                                        tr
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                | Booking Details
                                                                            th.color-white.main-color-background.text-center(scope='col')
                                                                                //- | Booking ID - 09869766875
                                                                    tbody
                                                                        tr
                                                                            th(scope='row')  Number of Medicines
                                                                            td= doc.medicines.length
                                                                        tr
                                                                            th(scope='row') Requested Date
                                                                            td= new Date(doc.date).toLocaleString()
                                                                        tr
                                                                            th(scope='row') Status
                                                                            td= doc.status
                                                                        if doc.address
                                                                            tr
                                                                                th(scope='row') Requested Address#{JSON.stringify(doc.address.address)}
                                                                                td  
                                                                                    each val,key in doc.address
                                                                                        div 
                                                                                            p 
                                                                                                b.fw-fold #{key} : 
                                                                                                span= val
                                                                        tr
                                                                            th(scope='row') Medicine Details
                                                                            td
                                                                                each med in doc.medicines
                                                                                    div 
                                                                                        p 
                                                                                            b.fw-fold Medicine Name : 
                                                                                            span= med.name
                                                                                        p 
                                                                                            b.fw-fold Description : 
                                                                                            span= med.description
                                                                                        p 
                                                                                            b.fw-fold Price : 
                                                                                            span= med.price
                                                                                        p 
                                                                                            b.fw-fold Categorie : 
                                                                                            span= med.categorie
                                                                                        img(src=med.bannerImage,style='width:200px;', alt="", srcset="")
                                                            .modal-footer
                                                                button.btn.btn-secondary(type='button' data-bs-dismiss='modal')
                                                                    | Cancel

