extends ../../layout/adminBase

block append script 
    script(src="/JS/bundle/admin/bundleAdmin.js")   

block block
    #right.col-9

        hr
        include ./shared/detailsList
        .p-3
            .p-5.pt-2.nav-tabs-section
                ul#pills-tab.nav.nav-pills.nav-justified.mb-3(role='tablist')

                    //- li.nav-item.border.rounded(role='presentation')
                    //-     button#pills-profile-tab.nav-link.inside-nav.fw-bold.active(data-bs-toggle='pill' data-bs-target='#pills-profile' type='button' role='tab' aria-controls='pills-profile' aria-selected='false')
                    //-         | Order List
                    //- li.nav-item.border.rounded(role='presentation')
                    //-     button#pills-contact-tab.nav-link.inside-nav.fw-bold(data-bs-toggle='pill' data-bs-target='#pills-contact' type='button' role='tab' aria-controls='pills-contact' aria-selected='false')
                    //-         | History

                #pills-tabContent.tab-conten
                    h5.fw-bold.mb-4.text-uppercase User Orders
                    .row.row-cols-2.row-cols-md-4.g-3.m-0
                        each docs in orders
                            .col
                                .card.h-100
                                    img.card-img-top(src=docs.proudcts[0].product.bannerImage alt='service Name')
                                    .p-2
                                        -const arr = []
                                        -let price = 0
                                        each val in docs.proudcts
                                            -arr.push(val.product.name)
                                            -price = val.product.discountPrice ? val.product.discountPrice + price : val.product.price+price
                                        h6.fw-bold.main-color= arr.join(', ')

                                        p.m-0.text-12= docs.proudcts[0].productData.description
                                        p.fw-bold.m-0 Rs. #{price}
                                        .d-flex
                                            .flex-grow-1
                                                p.fw-bold
                                                    | Rating :
                                                    span.text-12.text-warning
                                                        i.fa-solid.fa-star
                                                        i.fa-solid.fa-star
                                                        i.fa-solid.fa-star
                                                        i.fa-solid.fa-star
                                                        i.fa-regular.fa-star
                                            //- div
                                                i.fa-solid.fa-cart-shopping.card-cart-icon
                                            //- div
                                                i.fa-solid.fa-heart.card-cart-icon
                                    a(href=`./product-order-management/view-order/${docs._id}`)
                                        h6.merket-category-card.m-0 View Details

