extends ../../layout/base

block append head 
    link(rel="stylesheet", href="/CSS/userStyle.css")
    link(rel="stylesheet", href="/CSS/lightslider.css")

block append script 
    script(src="/JS/bundle/user/bundleUser.js")     


block block 

        .p-2

            hr
            .p-3
                a(href=`/medical-market/quotes-management?`)
                    p.ms-3.mt-3
                        i.fa-solid.fa-arrow-left-long
                        |  GO BACK
                hr
                if quotes.length
                    .p-5.pt-2.nav-tabs-section#proposalUserUpdate
                        ul#pills-tab.nav.nav-pills.nav-justified.mb-3(role='tablist')
                            each doc,index in quotes
                                li.nav-item.border.rounded(role='presentation')
                                    button.nav-link.inside-nav.fw-bold(id=`pills${index}-tab` data-bs-toggle='pill' class=`${index === 0 ? "active" : ""}` data-bs-target=`#pills${index}-home` type='button' role='tab' aria-controls=`pills${index}-home'` aria-selected='true')
                                        |  Quote #{index +1}
                        #pills-tabContent.tab-content
                            each doc,index in quotes
                                .tab-pane.fade.show(role='tabpanel'  class=`${index === 0 ? "active" : ""}`  aria-labelledby=`pills${index}-tab` id=`pills${index}-home`)
                                    each docs in doc.partners
                                        div
                                            .mt-3.table-responsive
                                                table.table.table-bordered
                                                    thead
                                                        tr
                                                            th.color-white.main-color-background.text-center(scope='col' colspan='2')
                                                                | #{docs.productName}
                                                    tbody
                                                        tr
                                                            th(scope='row') Vendor Name
                                                            td= docs.partner
                                                        //- tr
                                                        //-     th(scope='row') Vendor Type
                                                        //-     td All
                                                        tr
                                                            th(scope='row') Product
                                                            td #{docs.productName}
                                                        //- tr
                                                        //-     th(scope='row') Product Specification
                                                        //-     td Product Specification
                                                        //- tr
                                                        //-     th(scope='row') Product Image
                                                        //-     td
                                                        //-         img.thumbnail(src='./Assets/images/product image.jpg' alt='product image')
                                                        tr
                                                            th(scope='row') Price / 1 pcs, unit
                                                            td= docs.estimateCost
                                                        tr
                                                            th(scope='row') Required Quantity
                                                            td= docs.quantity
                                                        tr
                                                            th(scope='row') Amount#{docs.negotiateDescription}
                                                            td= docs.estimateCost * docs.quantity
                                                            -console.log(docs)
                                                        if docs.negotiateDescription
                                                            tr
                                                                th(scope='row') Negotiate Descritpion
                                                                td= docs.negotiateDescription
                                                        tr
                                                            th(scope='row') GST
                                                            td 2000
                                                        tr
                                                            th(scope='row') Delivery charges
                                                            td 2000
                                                        tr
                                                            th(scope='row') Total Ammount
                                                            td 24,000
                                                        tr
                                                            th(scope='row') Delivery Date
                                                            td 19-07-2022
                                                        tr
                                                            th(scope='row') Quotation Valid Until
                                                            td 19-07-2022
                                                        tr
                                                            th(scope='row') Payment terms
                                                            td Lorem ipsum dolor sit amet.


                                                .text-center.mt-5
                                                    if docs.proposeStatus === "accepted"
                                                        button.btn.btn-primary.btn-block You already Accepted this Quote.
                                                    else if docs.proposeStatus === "proposal-submited" || docs.proposeStatus === "negotiate"
                                                        button.btn.btn-primary.ps-5.pe-5.me-5#negotiate_Proposal(type='button' 
                                                        data-proposal=docs.proposal data-from=docs.from data-id=user.id)
                                                            | Negotiate
                                                        button.btn.btn-success.ps-5.pe-5.me-5#Accept_Proposal(type='button' 
                                                        data-proposal=docs.proposal data-from=docs.from data-id=user.id)
                                                            | Accept
                                                        button.btn.btn-danger.ps-5.pe-5.me-5#Reject_Proposal(type='button' data-proposal=docs.proposal data-from=docs.from data-id=user.id)
                                                            | Reject
                                                    else if docs.proposeStatus === "rejected-by-user"
                                                        button.btn.btn-primary.btn-block You rejected this Vendor
                                                    else if docs.proposeStatus === "completed"
                                                        button.btn.btn-primary.btn-block This request was completed.

                else 
                    p Currently you didn't receive any request.
