extends ../../../layout/base

block append head 
    link(rel="stylesheet", href="/CSS/userStyle.css")
    link(rel="stylesheet", href="/CSS/lightslider.css")

block append script 
    //- script(src="/JS/bundle/user/bundleUser.js")     

block block 
    // Hero section Start
    section
        .hero-image-wrapper
            img.hero-image(src='/Assets/images/fitness.jpg' alt='homecare service banner')
            .hero-image-overlay
            .hero-image-text
                h2.fw-bold.text-uppercase.hero-big-text Gyms and Yoga list
    // Hero section End
    // Catercory button Section Start
    section.mt-1.mb-2
        .d-flex.justify-content-center
            a(href='./gym')
                h6#Consultants(class=`${name === "gym" ? "tab-text-active" : "tab-text"}`)
                    | Gyms
            a(href='./yoga')
                h6#Contractors(class=`${name === "yoga" ? "tab-text-active" : "tab-text"}`)
                    | Yoga
            a(href='./meditation')
                h6#Services(class=`${name === "meditation" ? "tab-text-active" : "tab-text"}`)
                    | Meditation
    // Catercory button Section Start
    // Home Care Service Centres List Section Start
    
    section.mt-4.container-xxl
        .row
            // Fillter Section
            .col-4.small-screnn-vn
                .small-shdow.p-3.rounded.mt-3
                    h6.fw-bold
                        i.fa-solid.fa-location-dot.me-3
                        |  Fillter by Location
                    .mt-4
                        label.check-box-container
                            | One
                            input(type='checkbox' checked='checked')
                            span.checkmark
                        label.check-box-container
                            | One
                            input(type='checkbox')
                            span.checkmark
                        label.check-box-container
                            | One
                            input(type='checkbox')
                            span.checkmark
                        label.check-box-container
                            | One
                            input(type='checkbox')
                            span.checkmark
                    h6.fw-bold.mt-5
                        i.fa-solid.fa-hand-holding-dollar.me-3
                        |  Sort by price
                    .mt-4
                        form(action='#')
                            p
                                input#test1(type='radio' name='radio-group' checked='')
                                label(for='test1') Apple
                            p
                                input#test2(type='radio' name='radio-group')
                                label(for='test2') Peach
                            p
                                input#test3(type='radio' name='radio-group')
                                label(for='test3') Orange
            // Card Section
            .col-8.small-width-100
                .small-shdow.p-2.rounded
                    p.card-small-description.m-0 Shows 1-40 out of 400
                    h4.fw-bold.text-header-smalls #{name} Result
                .row.row-cols-1.row-cols-md-1.row-cols-sm-2.g-1
                    each doc in centers
                        .small-shdow.rounded.mt-3
                            .row.m-0
                                .col-md-2.m-0.p-0
                                    img.img-thumbnail.border-0(src=doc.profileImage alt='Centrer Image')
                                .col-md-10.pt-2.ps-2.m-0
                                    h6.m-0.text-header-smalls.fw-bold= doc.company
                                    p.m-0.text-14.text-secondsry= doc.serviceName
                                    .row  
                                        .d-flex.flex-row.bd-highlight.m-0
                                            .bd-highlight
                                                p.card-small-description.m-0
                                                    i.fa-solid.fa-indian-rupee-sign.me-2.text-primary
                                                    |                       Rs.#{doc.fitness.price}
                                            .bd-highlight
                                                p.card-small-description.m-0
                                                    i.fa-solid.fa-location-dot.me-2.ms-3.text-primary
                                                    |                       #{doc.city}
                                        .col-7
                                            .d-flex.justify-content-between.m-0.p-0
                                                .d-flex.flex-row.bd-highlight.m-0
                                                    .bd-highlight.me-1.fw-bold.text-14 Ratings :
                                                    .bd-highlight
                                                        i.fa-solid.fa-star.text-12.text-warning
                                                    .bd-highlight
                                                        i.fa-solid.fa-star.text-12.text-warning
                                                    .bd-highlight
                                                        i.fa-solid.fa-star.text-12.text-warning
                                                    .bd-highlight
                                                        i.fa-solid.fa-star.text-12.text-warning
                                                    .bd-highlight
                                                        i.fa-regular.fa-star.text-12.text-warning   
                                        .col-5                     
                                            a.button-view-details.text-12.float-end(href=`/fitness/fitness-centres/centre/${doc.hiwpmID}`)
                                                | View Details 
                                                i.fa-solid.fa-arrow-right

                // Pagination Sction
                .text-center
                    .pagination_rounded
                        ul
                            li.card-head-s-screen
                                a.prev(href='#')
                                    i.fa.fa-angle-left(aria-hidden='true')
                                    |  Prev
                            li.card-head-s-screen
                                a(href='#') 1
                            li.hidden-xs.card-head-s-screen
                                a.active(href='#') 2
                            li.hidden-xs.small-screnn-vn
                                a(href='#') 3
                            li.hidden-xs.small-screnn-vn
                                a(href='#') 4
                            li.hidden-xs.small-screnn-vn
                                a(href='#') 5
                            li.visible-xs.small-screnn-vn
                                a(href='#') ...
                            li.small-screnn-vn
                                a(href='#') 6
                            li.card-head-s-screen
                                a.next(href='#')
                                    | Next 
                                    i.fa.fa-angle-right(aria-hidden='true')
