extends ../../layout/base

block append head 
    link(rel="stylesheet", href="/CSS/userStyle.css")
    link(rel="stylesheet", href="/CSS/lightslider.css")
    link(rel='stylesheet' type='text/css' href='/Assets/slick/slick.css')
    link(rel='stylesheet' type='text/css' href='/Assets/slick/slick-theme.css')
block append script 
    script(src="/JS/bundle/user/bundleUser.js")   
    script(type='text/javascript' src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(type='text/javascript' src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(type='text/javascript' src='/Assets/slick/slick.min.js')
    script(type='text/javascript').
        $(document).ready(function () {
        $(".family-members-list").slick();
        });  

block block 
    // Hero section Start
    section.small-hero-image-div
        img.small-hero-image(src='/Assets/images/MedicalRecord.jpg' alt='homecare service banner')
        .small-hero-image-overlay
            .hero-image-text
                h1 Best Hospital list
    // Hero section End
    // Add and Family Memeber Select Options Start
    .container
        // Add and Family Memeber Select Options Start
        section.container.mt-4
            .d-flex.mb-3

                h4.p-2.fw-bold Medical Records
                .ms-auto.p-2
                    a.add-records(data-bs-target='#Register' data-bs-toggle='modal') Add Records
                    a.add-records(data-bs-target='#Register2' data-bs-toggle='modal') Add Member
            .horsonadal-line
        #Register.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='RegisterLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5#RegisterLabel.modal-title.main-color.fs-6.text-uppercase.fw-bold
                            | Add Records
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        form#add_medical_record
                            div
                                h6
                                    | Report Type
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    input#reportType(placeholder='Document Name...' name='fname' required='')
                            div
                                h6
                                    | Document Name
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    input#name(placeholder='Document Name...' name='fname' required='')
                            div
                                h6
                                    | Prescription Date
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    input#date(placeholder='Prescription Date...' type="date" name='fname' required='')
                            div
                                h6
                                    | Select Family Member
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    select.form-select.border#memeber(aria-label='Default select example')
                                        option(selected='') Select Family Member
                                        each doc in records
                                            option(value=doc.hiwmID)= doc.name
                            div
                                h6
                                    | Description
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    textarea#description(placeholder='Description...' name='fname' required='')
                            div
                                h6.fw-bold
                                    | Upload Document
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                input#myfile(type='file' name='myfile')
                                button.conform-service-booking(type="submit") Add
                    .modal-footer

        #Register2.modal.fade(data-bs-backdrop='static' data-bs-keyboard='false' tabindex='-1' aria-labelledby='RegisterLabel' aria-hidden='true')
            .modal-dialog.modal-dialog-scrollable
                .modal-content
                    .modal-header
                        h5#RegisterLabel.modal-title.main-color.fs-6.text-uppercase.fw-bold
                            | Add Members
                        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                    .modal-body
                        form#add_family_memeber
                            div
                                h6
                                    | Person Name
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    input#name(placeholder='Name...' name='fname' required='')
                            div
                                h6
                                    | Phone
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    input#phone(placeholder='Phone...' name='fname' required='')
                            div
                                h6
                                    | Select Relation Type
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                p
                                    select.form-select.border#type(aria-label='Default select example')
                                        option(selected='') -- Select Relation Type --
                                        option(value='family') Family
                                        option(value='doctor') Doctor
                            div
                                h6.fw-bold
                                    | Upload Document
                                    i.fa-solid.fa-star-of-life.text-danger.text-12
                                input#myfileMem(type='file' name='myfile')
                                button.conform-service-booking Add
                    .modal-footer


        .family-members-list#medical_record_change_member(data-id=user.id)
            each doc in records
                div(data-id=doc.hiwmID)
                    .card.mb-3.w-75.m-auto
                        .row.g-0
                            .col-md-4
                                img.img-fluid.rounded-start.Pill-Reminder-member-image(src=doc.profileImage alt='...')
                            .col-md-8
                                .card-body
                                    .row
                                        .col-5
                                            p.fw-bold.secondary-color Name
                                        .col-7
                                            p.fw-bold.text-secondary : #{doc.name}
                                    .row
                                        .col-5
                                            p.fw-bold.secondary-color Phone Number
                                        .col-7
                                            p.fw-bold.text-secondary : #{doc.phone}
                                    .row
                                        .col-5
                                            p.fw-bold.secondary-color Created
                                        .col-7
                                            p.fw-bold.text-secondary
                                                | : #{new Date(doc.createdAt).toLocaleDateString()}
                                    .row
                                        .col-5
                                            p.fw-bold.secondary-color
                                                | Relation With User
                                        .col-7
                                            p.fw-bold.text-secondary : #{doc.type}

        .modal-body.table-responsive.mt-2
            table.table.table-bordered.table-font
                thead
                    tr
                        th.color-white.main-color-background.text-center(scope='col')
                            | Records Category
                        th.color-white.main-color-background.text-center(scope='col')
                            | Document Name
                        th.color-white.main-color-background.text-center(scope='col')
                            | Date
                        th.color-white.main-color-background.text-center(scope='col')
                            | Description
                        th.color-white.main-color-background.text-center(scope='col')
                            | Documents
                tbody#add_active_member_medical_records
                    if records.length
                        -const data = records[0]
                        each doc in data.records
                            tr
                                td= doc.recordType
                                td= doc.documentName
                                td= new Date(doc.issuedDate).toLocaleDateString()
                                td= doc.description
                                td
                                    a(href=doc.report) View Document

